body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: white; /* Beyaz arka plan */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

header .container {
    background-color: #326872; /* Mor arka plan */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none; /* Noktaları kaldır */
    padding: 0;
}

nav ul li {
    background-color: #f9f9f9; /* Hafif gri arka plan */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul li a {
    text-decoration: none;
    color: #326872; /* Mor yazı */
    font-weight: bold;
}

nav ul li a:hover {
    color: #326c72; /* Koyu mor yazı */
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}