/* Body Stili*/

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

/* Başlık Stili*/

header {
    background-color: white; /* Beyaz arka plan */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

/* Containerler */

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

header .container {
    background-color: #6a0dad; /* Mor arka plan */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

/* Nav ve Ul stili */

nav {
    margin-top: 20px;
}

nav ul {
    list-style-type: none; /* Noktaları kaldır */
    padding: 0;
}

nav ul li {
    background-color: #f9f9f9; /* Hafif gri arka plan */
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav ul li a {
    text-decoration: none;
    color: #6a0dad; /* Mor yazı */
    font-weight: bold;
}

nav ul li a:hover {
    color: #4b0082; /* Koyu mor yazı */
}

/* Butonların stilini ayarlar */

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}

.btn-primary {
    background-color: #6a0dad; /* Mor arka plan */
    color: white; /* Beyaz yazı */
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4b0082;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.back-button {       /* Sade buton */
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000; /* Üstte kalmasını sağlamak için z-index ayarlanmıştır */
}

.back-button {
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #5a6268;
}



/* Footer stili */

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}