/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

/* Başlık stili */
header {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header .container {
    background-color: #6a0dad;
    color: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
}

/* Ana içerik stili */
main {
    margin-top: 20px;
}

.assessment-grid {
    display: grid;
    grid-template-columns: 60px 60px 120px;
    gap: 10px;
}

.grid-item {
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1em;
}

.confirm {
    grid-column: span 1;
    grid-row: span 1;
}

.assess-degree {
    grid-column: span 2;
    grid-row: span 1;
}

.assess-symptoms {
    grid-column: span 3;
    grid-row: span 1;
}

.post-bd {
    grid-column: span 1;
    grid-row: span 2;
}

.grade, .fev1, .gold1, .gold2, .gold3, .gold4 {
    grid-column: span 1;
}

.exacerbations {
    grid-column: span 2;
}

.exacerbations-high, .exacerbations-low {
    grid-column: span 2;
}

.group-e {
    grid-column: span 3;
    background-color: #ffcccb;
    font-size: 2em;
}

.group-a, .group-b {
    grid-column: span 3;
    background-color: #f0e68c;
    font-size: 2em;
}

.symptom-severity, .symptom-severity-high {
    grid-column: span 2;
}

/* Footer stili */
.footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

/* Geri düğmesi stili */
.back-button {
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #5a6268;
}