body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

header {
    background-color: white; /* Beyaz arka plan */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

.result {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em
}

/*Form-group*/

.form-group {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;  
    background-color: white;
}

.form-group label {
    flex: 2;
    margin: 10px 20px auto;
    padding: 10px 20px;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-group span {
    margin: center;
    padding: 0px 20px;    
}

.form-group input {
    flex: 1;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-group select {
    flex: 1;
    padding: 10px 20 px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

/*Rating*/

.rating-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.rating {
    display: flex;
    justify-content: center;
    flex: 1;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s;
    justify-content: center;
}

.rating input[type="radio"]:checked + label {
    background-color: #6a0dad; /* Seçili durumda mor arka plan */
    color: white;
}

/*Contairner*/

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

header .container {
    background-color: #6a0dad; /* Mor arka plan */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: right; /* Ortalar */
    padding-top: 20px;
    border-top: 1px solid #ddd;
    padding-right: 40px;
}



/* Butonların stilini ayarlar */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-decoration: none;
}

.btn-primary {
    background-color: #6a0dad; /* Mor arka plan */
    color: white; /* Beyaz yazı */
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4b0082;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.back-button {
    background-color: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 4px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #5a6268;
}

/*Yazı tipi*/

.info-section {
    text-decoration: none;
}
.indented-text {
    margin-left: 20px; /* Sayfanın solundan 20px boşluk bırakır */
}

.spaced-text {
    margin-top: 40px; /* Üst kısımda 20px boşluk bırakır */
}