body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
    text-decoration: none;
}

header {
    background-color: white; /* Beyaz arka plan */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

style {
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    padding-top: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
}

/*Container*/ 

.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

header .container {
    background-color: #6a0dad; /* Mor arka plan */
    color: white;
    padding: 20px;
    border-radius: 8px;
}

/* Butonların stilini ayarlar */

.back-button {
    width: 50px; /* Butonun genişliği */
    height: 50px; /* Butonun yüksekliği */
    cursor: pointer;
    display: block;
    margin: 10px;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.back-button:hover {
    background-color: #f4f4f4;
}

/*Form-group*/

.form-group {
    display: flex;
    text-align: left;
    font-size: 1em;
    margin: 10px 20px auto;  
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px ;
}

.form-group label {
    flex: 2;
    margin: 10px 20px auto;
    padding: 10px 20px;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-group span {
    margin: center;
    padding: 0px 20px;    
}

.form-group input {
    flex: 1;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.form-group select {
    flex: 1;
    padding: 10px 20 px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}


/*Yazı tipi*/

.info-section {
    text-decoration: none;
}
.indented-text {
    margin-left: 20px; /* Sayfanın solundan 20px boşluk bırakır */
}

.spaced-text {
    margin-top: 40px; /* Üst kısımda 20px boşluk bırakır */
}