<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODE İndeksi</title>
    <link rel="stylesheet" href="/static/bode.css">
    <style>
        .back-button {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 1000;
        }
        </style>
</head>
<body>
    <a href="https://mumsuz.github.io/pulmocalc/koah/koah.html" class="btn btn-secondar back-button">Geri</a>
    <header>
        <div class="container">
            <h1>BODE İndeksi</h1>
        </div>
    </header>
    <main>
        <div class="container mt-5">
        <form id="bodeForm" onsubmit="calculateBode(event)">
            <label for="bmi">VKİ:</label>
            <input type="text" step="0.1" id="bmi" required><br>
            <label for="fev1_percent">FEV1 (%):</label>
            <input type="text" step="0.1" id="fev1_percent" required><br>
            <label for="mrc_dyspnea">mMRC:</label>
            <input type="text" step="1" id="mrc_dyspnea" required><br>
            <label for="walk_distance">Yürüyüş Mesafesi (m):</label>
            <input type="text" step="0.1" id="walk_distance" required><br>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Hesapla</button>
            </div>
            
        </form>
        </div>
        <div class="result mt-4" id="result"></div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Designed by MuMSuZ</p>
    </footer>
    <script src="/static/bode.js"></script>
</body>
</html>