<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAT Skoru</title>
    <link rel="stylesheet" href="/static/cat.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>CAT Skoru</h1>
        </div>
    </header>
    <main>
        <div class="container mt-5">
            <form id="catForm" action="/calculate" method="post">
                <div class="form-group">
                    <label for="q1">Öksürüğüm</label>
                    <div class="rating-container">
                        <span>Hiç yok</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q1_{{ i }}" name="q1" value="{{ i }}" required>
                                <label for="q1_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Sürekli var</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q2">Akciğerlerimde Balgam</label>
                    <div class="rating-container">
                        <span>Hiç yok</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q2_{{ i }}" name="q2" value="{{ i }}" required>
                                <label for="q2_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Sürekli var</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q3">Göğüsümde tıkanıkma/daralma</label>
                    <div class="rating-container">
                        <span>Hissetmiyorum</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q3_{{ i }}" name="q3" value="{{ i }}" required>
                                <label for="q3_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Hissediyorum</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q4">Yokuş veya bir kat merdiven çıkarken nefesim</label>
                    <div class="rating-container">
                        <span>Daralmıyor</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q4_{{ i }}" name="q4" value="{{ i }}" required>
                                <label for="q4_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Daralıyor</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q5">Evdeki haraketlerimde</label>
                    <div class="rating-container">
                        <span>Zorlanmıyorum</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q5_{{ i }}" name="q5" value="{{ i }}" required>
                                <label for="q5_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Zorlanıyorum</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q6">Akciğerlerimin durumuna rağmen dışarı çıkmaktan</label>
                    <div class="rating-container">
                        <span>Çekinmiyorum</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q6_{{ i }}" name="q6" value="{{ i }}" required>
                                <label for="q6_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Çekiniyorum</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q7">Uyku</label>
                    <div class="rating-container">
                        <span>Rahat uyuyorum</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q7_{{ i }}" name="q7" value="{{ i }}" required>
                                <label for="q7_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Rahat uyuyamıyorum</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="q8">Kendimi güçlü/enerjik</label>
                    <div class="rating-container">
                        <span>Hissediyorum</span>
                        <div class="rating">
                            {% for i in range(1, 6) %}
                                <input type="radio" id="q8_{{ i }}" name="q8" value="{{ i }}" required>
                                <label for="q8_{{ i }}">{{ i }}</label>
                            {% endfor %}
                        </div>
                        <span>Hissetmiyorum</span>
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Hesapla</button>
                </div>
            </form>
            {% if result %}
                <div class="result mt-4">
                    <h4>Sonuç:</h4>
                    <p>{{ score|safe }}</p>
                </div>
            {% endif %}
            <div class="button-container mt-4">
                <a href="https://mumsuz.github.io/pulmocalc/koah/koah.html" class="btn btn-secondary">Geri Dön</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Designed by MuMSuZ</p>
    </footer>
    <script src="/static/cat.js"></script>
</body>
</html>