<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOSE İndeksi Hesaplama</title>
    <link rel="stylesheet" href="/static/dose.css">
    <style>
        .back-button {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <a href="https://mumsuz.github.io/pulmocalc/koah/koah.html" class="btn btn-secondar back-button">Geri</a>
    <header>
        <div class="container">
            <h1>DOSE İndeksi</h1>
        </div>
    </header>
    <section class="info-section">
        <div class="container">
            <p>KOAH hastalarının semptomlarını ve yaşam beklentisini değerlendirmede kullanılan bir testtir.</p>
        </div>
    </section>
    <main>
        <div class="container mt-5">
            <form id="doseForm">
                <div class="form-group">
                    <label for="dyspnea">mMRC:</label>
                    <input type="number" class="form-control" id="dyspnea" name="dyspnea" min="0" max="3" required>
                </div>
                <div class="form-group">
                    <label for="obstruction">FEV1 (% pred):</label>
                    <input type="number" class="form-control" id="obstruction" name="obstruction" min="0" max="3" required>
                </div>
                <div class="form-group">
                    <label for="smoking_status">Sigara:</label>
                    <input type="number" class="form-control" id="smoking_status" name="smoking_status" min="0" max="1" required>
                </div>
                <div class="form-group">
                    <label for="exacerbations">Alevlenme:</label>
                    <input type="number" class="form-control" id="exacerbations" name="exacerbations" min="0" max="2" required>
                </div>
                <div class="button-container">
                    <button type="submit" class="btn btn-primary">Hesapla</button>
                </div>
            </form>
            <div class="result mt-4" id="result"></div>
        </div>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Designed by MuMSuZ</p>
    </footer>
    <script src="/static/dose.js"></script>
</body>
</html>